/* Add this to your CSS stylesheet */
/* added sidebar css */
*::-webkit-scrollbar {
  width: 6px;
  /* Set the width of the scrollbar */
}

body::-webkit-scrollbar {
  width: 2px;
  /* Set the width of the scrollbar */
}



.App {
  width: 100vw;
  height: 100vw;
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/027/441/219/original/dna-icon-seamless-loop-animation-transparent-background-with-alpha-channel-free-video.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* Necessary for overlay */
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 15%;
  background-color: rgb(67, 167, 167);
}

ul {
  padding-inline-start: 0;
}

.sidebarlist {
  height: auto;
  width: auto;
  list-style: none;
  position: relative;
}

.sidebarlist #active {
  background-color: #293846;
}

.sidebarlist .row {
  height: auto;
  padding: 0;
  padding-bottom: 10%;
  padding-top: 10%;
  width: 100%;
  /* border-bottom: solid rgb(250, 250, 250); */
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

.sidebarlist .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}


/* herder div */
.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(67, 167, 167);
}

.footer {
  width: 100%;
  height: max-content;
  font-size: large;
  font-weight: 500;
  background-color: rgb(67, 167, 167);
}

.centerpart {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.content {
  position: relative;
  width: 85%;
  overflow-x: scroll;
  overflow-y: scroll;
}


.main {
  display: flex;
  flex-direction: column;
}

/* no css */

.container {
  overflow-y: auto;
  width: auto;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #addaf8;
  color: #090909;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.btnnew {
  display: inline-block;
  padding: auto auto auto auto;
  background-color: #6dbfe8;
  color: #090909;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.red {
  background-color: rgb(243, 79, 79);
}

.green {
  background-color: rgb(140, 243, 140);
}

.addcontainer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addcontainer form {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  padding: 5% 4%;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
}


.addcontainer form {
  font-size: 20px;
}

.addcontainer form label {
  font-size: 20px;
}

.addcontainer form input {
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.close-btn {
  margin-left: 90%;
  background-color: red;
  width: 20px;
  font-size: 18px;
}

/* Base styling for the table */


.tableContainer table {
  justify-content: center;
  width: 80%;
  border-collapse: collapse;
  margin-left: 10%;
  margin-top: 5%;
}

.tableContainer table thead tr {
  background-color: rgb(8, 8, 8);
  color: white;
}

.tableContainer table tbody tr {
  background-color: white;
  border: solid;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  padding: 1%;
  overflow-x: auto;
  scroll-behavior: hidden;

}

.date-picker-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Responsive styling using media queries */

table {
  height: auto;
}




.top img {
  margin-top: 30px;
  width: 90%;
  height: auto;
  border-radius: 10%;
}

.para {
  justify-content: center;
}

.homesect {
  color: rgb(222, 222, 222);
  font-weight: bolder;
}

.para p {
  width: 100%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imaging {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imaging img {
  padding: 10px;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.cards {
  font: large;
  font-weight: bold;
  color: rgb(255, 254, 254);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 40%;
  border-radius: 10%;
  border: solid rgb(3, 3, 3);
  margin-top: 10px;
}

.card img {
  padding-top: 2%;
  width: 30vh;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: rgba(35, 40, 35, 0.5);
  /* Adjust the alpha (last value) to control opacity */
  z-index: 1;
  /* Make sure the overlay appears above other elements */
}

.container {
  z-index: 2;
  /* Ensure content appears above the overlay */
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  margin: 0;
  /* Center content horizontally */
  padding: 0;
  /* Adjust as needed */
}

th {
  background-color: rgb(56, 52, 52);
}



@media screen and (max-width: 500px) {
  .cards {
    font: large;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    color: white;
    width: 100%;
    border-radius: 10%;
    border: solid wheat;
    margin-top: 10px;
  }

  .card img {
    width: 80%;
  }

  .btn {
    width: 80%;
    height: 50%;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    top: 10%;
    right: 0;
    width: 100%;
    height: 90%;
    /* Adjust the alpha (last value) to control opacity */
    z-index: 1;
    /* Make sure the overlay appears above other elements */
  }


  .tableContainer table thead tr th,
  .tableContainer table tbody tr td {
    /* Reset the minimum width for smaller screens */
    display: block;
    width: auto;
    box-sizing: border-box;
  }

  .container {
    position: relative;
    width: auto;
  }


  .date-picker-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #selectedDateTime {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    max-width: 200px;
  }

  .centerpart {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }

  .Sidebar {
    width: 100%;
    height: 10%;
    font-size: small;
  }

  .sidebarlist {
    display: flex;
    flex-direction: row;
  }

  .content {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .addcontainer form {
    width: 100%;
    align-items: start;
    display: grid;
  }
}